@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
.heroSection{ 
    background-image: url(../../assets/more/herobg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    font-family: 'Merienda', cursive;
}